.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 5;
  margin: 10px;
  height: 720px;
  width: 33%;
}

.button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  width: 98%;
  font-size: 24px;
  background-color:#FFFFFF;
  border: 1px solid #ccc;
  flex: 5;
}
